<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartTraffic">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.onboarding.Onboarding2Activity" />
        <activity android:name=".ui.onboarding.Onboarding1Activity" />
        <activity android:name=".ui.onboarding.Onboarding3Activity" />
        <activity android:name=".ui.auth.LoginActivity"/>
        <activity android:name=".ui.auth.RegisterActivity"/>
        <activity android:name=".ui.profile.ProfileSetupActivity"/>
        <activity android:name=".ui.home.HomeActivity"/>
        <activity android:name=".ui.lesson.LessonActivity"/>
        <activity android:name=".ui.lesson.LessonDetailActivity"/>
        <activity android:name=".ui.sign.SignListActivity"/>
        <activity android:name=".ui.sign.SignDetailActivity"/>
        <activity android:name=".ui.quiz.SignQuizActivity"/>
        <activity android:name=".ui.simulation.SimulationListActivity"/>
        <activity android:name=".ui.simulation.SimulationDetailActivity"/>
        <activity android:name=".ui.simulation.SimulationResultActivity" />
        <activity android:name=".ui.quiz.QuizPracticeActivity" />
        <activity android:name=".ui.quiz.QuizResultActivity"/>
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.favorite.FavoriteActivity"/>
        <activity android:name=".ui.assistant.AssistantActivity"/>
        <activity android:name=".ui.map.MapActivity" />
        <activity android:name=".ui.profile.ProfileActivity"/>
        <activity android:name=".ui.progress.ProgressActivity"/>
        <activity android:name=".ui.settings.SettingsActivity" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>